<div class="sticky-top z-depth-1-half">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <span class="navbar-brand">
      <img
        src={{ config.logo }}
        class="navbar-brand__logo"
        alt="Publisher Logo"
      >
    </span>
    <div class="navbar-nav mr-auto">
      {{#if session.isAuthenticated}}
        {{#link-to 'list' class="nav-item nav-link"}}List{{/link-to}}
        {{#link-to 'portal' 'cd4c269664610cf744acfb87203117f5' class="nav-item nav-link"}}Portal{{/link-to}}
        {{#link-to 'portal.company.edit' 'cd4c269664610cf744acfb87203117f5' class="nav-item nav-link"}}Submit{{/link-to}}
        {{#link-to 'review' '5de5621737b72e001931a978' class="nav-item nav-link"}}Review{{/link-to}}
      {{/if}}
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/contact-us" target="_blank" rel="noopener" class="nav-link">Contact Us</a>
      </li>
      {{#if session.isAuthenticated}}
        <li class="nav-item">
          <a href="/logout" rel="noopener" class="nav-link">Log out</a>
        </li>
      {{/if}}
    </ul>
  </nav>
  {{loading-progress class="bg-primary" progressBackground="bg-success"}}
</div>

{{ember-notify}}

<div class="container-fluid my-3">
  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>
