<div class="col-12">
  <h6 class="text-muted">{{ category.name }}</h6>
</div>
{{#each sections as |section|}}
  {{leadership-review/section section=section selected=selected canSelect=canSelect onToggle=onToggle}}
{{/each}}
