<h6 class="card-header">
  {{#if this.categoryName}}
    {{ this.categoryName }}
  {{/if}}
</h6>
<form class="card-body">
  {{#each this.attributes as |attribute|}}
    {{review-card/custom-attribute
      company=this.company
      submission=this.submission
      payload=this.payload
      toggleField=this.toggleField
      label=attribute.label
      key=attribute.key
    }}
  {{/each}}
</form>
<div class="card-footer"></div>
