<div class="form-group col-md-6">
  {{review-field
    original=original.key
    updated=updated.key
    toggleField=toggleField
    fieldKey="externalLinks"
    subField="key"
    enabled=enabled
  }}
</div>
<div class="form-group col-md-6">
  {{review-field
    original=original.url
    updated=updated.url
    toggleField=toggleField
    fieldKey="externalLinks"
    subField="url"
    enabled=enabled
  }}
</div>
