<h3 class="display-5">{{ unbound model.name }} Content Portal</h3>
<hr>
<div class="row">
  <div class="col">
    <p class="lead">Thanks for submitting your changes!</p>
    <p>You'll recieve an email shortly to confirm your submission.</p>
  </div>
</div>
