@import "../../node_modules/bootswatch/dist/pulse/variables";

// Fix pulse list groups
$list-group-bg:                     $white;
$list-group-border-color:           rgba($black, .125);
$list-group-hover-bg:               $gray-100;
$list-group-active-color:           $white;
$list-group-active-bg:              theme-color("primary");
$list-group-disabled-color:         $gray-600;
$enable-rounded: true;

$modal-xl: 1100px !default;
$modal-lg: 950px;
$modal-md: 550px;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/pulse/bootswatch";
@import "ember-basic-dropdown";
@import "ember-power-select";
@import "./power-select.scss";

.list-group {
  &-item {
    color: rgba($black, .9);
    &.active,
    &:hover,
    &:focus {
      color: rgba($black, .8);
    }
  }
}

// Add xl modal, per https://github.com/twbs/bootstrap/pull/19925
@include media-breakpoint-up(lg) {
  .modal-xl { max-width: $modal-lg; }
}

@include media-breakpoint-up(xl) {
  .modal-xl { max-width: $modal-xl; }
}

@import "z-depth";

body.transitioning {
  cursor: progress;
}

.clickable {
  cursor: pointer;
}

// The primary loading progress bar, found below nav.
.loading.progress {
  border-radius: 0 !important;
  height: 0.3rem;
}

.navbar-brand__logo {
  max-height: 40px;
  max-width: 200px;
  transform: scale(0.9);
}

.body-preview {
  overflow: auto;
  padding: 1em;
  min-height: 8em;
}

.field-modified {
  background-color: rgba(24, 188, 156, 0.1) !important;
  border: 1px solid rgb(24, 188, 156);
  border-right: none;
}

.fr-box {
  min-width: 100%;
  border-radius: $border-radius !important;
  .fr-toolbar {
    border-top-left-radius: $border-radius !important;
    border-top-right-radius: $border-radius !important;
  }
  .fr-wrapper {
    border-bottom-left-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
    border-bottom-color: #ccc !important;
  }
  .second-toolbar {
    border: none;
  }
}

.copyable-textarea {
  height: inherit;
  padding: 0;
}

.upload-button {
  cursor: pointer;
}

.social-list ul.ember-power-select-options {
  max-height: 15em;
}

.card-header {
  font-weight: 600;
}

label {
  font-weight: 500;
}

.card {
  box-shadow: 0 1px 7px rgba(0,0,0,.05);
  border: none;
}

body {
  background-color: #f5f5f5;
  padding-bottom: 4rem;
}

.interactable {
  cursor: pointer;
}

.form-control {
  height: auto;
}

.fixed-right {
  position: fixed;
  right: 0;
  left: auto;
}

.fixed-left {
  position: fixed;
  left: 0;
  right: auto;
}

#notification-wrapper div[class^=_c-notification__container] {
  top: 5.7rem;
}

.list-logo {
  height: 50px;
}

.card-header {
  &--flexed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.froala-editor-container {
  min-width: 100%;
}
.fr-toolbar {
  border-width: 1px;
  border-color: #ccc;
}

.uploaded-image {
  max-height: 180px
}

.row.leadership-row:first-of-type {
  margin-top: 0 !important;
}

fieldset.leadership-category {
  min-width: 100%;
}

legend.leadership-category {
  width: auto;
}

.row.directory-sections-row:first-of-type {
  margin-top: 0 !important;
}

fieldset.directory-sections {
  min-width: 100%;
}

legend.directory-sections {
  width: auto;
}

.card-expandable {
  .card-body {
    color: #000;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.tree-wrapper {
  // overflow: hidden;
  // max-height: 150px;
  background-color: #fcfcfc;
}

// .tree-inner {
//   overflow-y: scroll;
//   max-height: 132px;
// }

.tree-inner > label:last-child {
  margin-bottom: 0;
}

.tree-inner .ml-3 > div:last-child > label {
  margin-bottom: 0;
}

.card-expandable .card-body > div .mb-3:last-child {
  margin-bottom: 0;
}

.required-company-field {
  color: #f00
}
