<div class="sticky-top z-depth-1-half">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    {{#link-to "index" class="navbar-brand mr-auto"}}Listing Update{{/link-to}}
    <div class="navbar-nav mx-auto">
      <img
        src={{ config.logo }}
        class="mh-40px"
        alt="Publisher Logo"
      >
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/contact_us" target="_blank" rel="noopener" class="nav-link">
          Contact us {{entypo-icon "mail"}}
        </a>
      </li>
    </ul>
  </nav>
  {{loading-progress class="bg-primary" progressBackground="bg-success"}}
</div>

<div class="container-fluid my-3">
  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>

