{{#if (is-clipboard-supported)}}
  {{#copy-button
    class="btn btn-primary"
    clipboardText=value
    success=(action success)
  }}
    {{entypo-icon "copy"}} <span class="d-none d-xl-inline">Copy</span>
  {{/copy-button}}
{{/if}}
