{{#each items as |item|}}
  <li class="list-group-item {{get-section-class item.node.id current old}}">
    <span class="badge badge-light float-right">{{ item.node.id }}</span>
    {{ item.node.fullName }}
  </li>
{{/each}}

{{progress-bar show=isActionRunning}}
